h1 {
    width:100%;
}

div {
    display:flex;
    border-top: 1px solid gray;
}

div>p {
    margin:0;
    padding-left: 1em;
    padding-top: 1em;
    border-left: 1px solid gray;
}

nav {
    background-color: honeydew;
}

nav ul {
    top: -1px;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    color: blue;
}

nav li {
    width: 6.5em;
    padding: 0.25em 0.25em;
    display:block;
    position:relative;
}

nav>ul>li li {
    border:1px solid gray;
    background-color: white;
}

nav li:not(:first-child) {
    margin-top: -1px;
}

nav ul ul {
    display:none;
    position:absolute;
    left: 7em;
}

li:hover>ul{
    display:block;
}

nav>ul {
    z-index: 3;
}

nav>ul>li>ul {
    z-index: 2;
}

nav>ul>li>ul>li>ul {
    z-index: 1;
}

nav>ul>li:hover {
    background-color:rgb(240, 216, 216);
}

nav>ul>li>ul>li:hover {
    background-color:rgb(233, 197, 197);
}

nav>ul>li>ul>li>ul>li:hover {
    background-color:rgb(226, 178, 178);
}
